/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* ////////////////////////////////////// */
/* ////////////////////////////////////// */
/* ////////////////////////////////////// */

em {
  font-style: italic;
}

body {
  display: flex;
  min-height: 100vh;
}

.signup-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 2 1 0;
  background: url(backgroundImage.jpg) no-repeat;
  background-size: cover;
}

.signup-banner {
  display: flex;
  width: 100%;
  padding: 20px 0px;
  margin-top: 200px;
  align-items: center;
  justify-content: center;
  background-color: hsla(0, 0%, 0%, 0.5);
}

.signup-banner-logo {
  width: 100px;
  height: 100px;
}

.signup-banner-text {
  font-size: 3rem;
  font-weight: bold;
  color: #fff;
  margin-left: 1rem;
  font-family: "Dancing Script", cursive;
}

.photo-credits {
  margin-top: auto;
  margin-bottom: 20px;
  color: #fff;
  font-size: 1rem;
  font-weight: 300;
  font-family: "Kanit", sans-serif;
}

.photo-credits a {
  color: #fff;
}

main {
  display: flex;
  flex-direction: column;
  flex: 3 1 0;
  justify-content: center;
  font-family: "Kanit", sans-serif;
}

.main-header {
  padding: 50px;
  font-size: 2rem;
}

.main-header p {
  padding: 25px 0px;
}

.main-header em {
  color: #fbbd81;
}

.form {
  display: flex;
  flex-direction: column;
  padding: 50px;
  gap: 20px;
  box-shadow: 0px 3px 15px -12px;
}

.legend {
  font-size: 2rem;
  margin-bottom: 20px;
}

.fieldset {
  display: flex;
  gap: 50px;
}

.input {
  display: flex;
  flex-direction: column;
  width: 35%;
  gap: 5px;
}

.input label {
  opacity: 70%;
  font-size: 0.9rem;
}

input {
  border-radius: 5px;
  border: 2px solid #ccc;
  padding: 5px;
}

.main-footer {
  display: flex;
  flex-direction: column;
  padding: 50px;
  gap: 20px;
}

.submit {
  width: fit-content;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 15px 30px;
  background-color: #fbbd81;
  box-shadow: 0px 3px 15px -12px;
  color: #fff;
  font-size: 1.2rem;
  font-weight: bold;
  font-family: "Kanit", sans-serif;
}

.main-footer a {
  color: #fbbd81;
}
